.navbar {
    /* navbar fija */
    position: sticky;
    top: 0;
    z-index: 1000; /* se coloca porencima de todos los emas componentes*/
    
    background-color: #e9e9e9;
    padding: 0.5rem 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}


.logo-craftt {
    height: 46px;
    width: 100px;
    margin-left: 5vh;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.logo-craftt:hover {
    transform: scale(1.1);
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}