.fixer-section {
  padding: 20px;
  background-color: var(--card-bg);
}
.fixers-title {
  color: var(--text-1);
}

.fixer-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 5px;
  scroll-snap-type: x mandatory;
}

.fixer-scroll::-webkit-scrollbar {
  height: 6px;
}
.fixer-scroll::-webkit-scrollbar-thumb {
  background: #618adc;
  border-radius: 10px;
} 



