/* COLORES POR DEFECTO (MODO CLARO) */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --card-bg: #e9ecef;
  --navbar-bg: #e9e9e9;
  --navbar-text: #242f56;
  --primary-color: #8aa7c4;
  --terceary-color: #f0f0f0;
  

  /*Colores adicionales*/
  --text-default:#ffffff;
  --navbar-backg:#ffffff4d;
  --navbar-shadow: 1px 7px 15px 4px rgba(93, 92, 92, 0.1);
  --border-color: #95959569;
  --btn-1: #000000;
  --hover-1: #e3edfd;
  --text-1: #000000;
  --text-2: #fff;
  --text-3: #fff;
  --gradient-color: linear-gradient(#1e1e1ec4, #1228428b) ;
  --secundary-color: #f0ebdd;
  --boton-shadow: 1px 7px 15px 4px rgba(93, 92, 92, 0.1);
  

  /* Roboto oficial de Material Design */
  --font-principal: 'Roboto', sans-serif;
  
  /*  Moderna */
  --font-titulos: 'Inter', sans-serif;
}

/*  SOBREESCRIBIMOS PARA MODO OSCURO */
body.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --card-bg: #1e1e1e;
  --navbar-bg: #000000;
  --navbar-text: #c1ceff;
  --primary-color: #0080ff;
  --terceary-color: #333;

  /*Colores adicionales*/
  --text-default:  #000000;
  --navbar-backg: #00000057;
  --navbar-shadow: 1px 7px 15px 1px rgba(0, 0, 0, 0.699);
  --border-color: #4e4e4e9d;
  --btn-1: #ffffff;
  --hover-1: #3a424d;
  --text-1: #ffffff;
  --text-2: #000000;
  --text-3: #fff;
  --gradient-color: linear-gradient(#71707050, #00000077);
  --secundary-color: #151618;
  --prueba-color:   #0e2d54
                    #1a4d82
                    #178dc0
                    #44b7c3
                    #85ccc9;
  --boton-shadow:1px 4px 15px 1px rgba(0, 0, 0, 0.699)
}

/*  APLICAMOS VARIABLES AL BODY */
body {
  font-family: var(--font-principal);
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  margin: 0;
}

/* botones y formularios obedecen a Roboto */
button, 
input, 
textarea, 
select {
  font-family: inherit;
}

/* títulos usen Inter */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titulos);
}